.total-amount {
    font-size: 3em;
    color: #26c2eb;
}
.goal {
    text-align: center;
    color: black;
    font-size: 2em;
}
.header img {
    float: left;
    width: 150px;
    height: 125px;
  }
  
.header h3 {
    position: relative;
    top: 25px;
    left: 30px;
  }